<!DOCTYPE html>
<html>
  <head>
    <style>
      div{
          color:red;
      }
    </style>
    <title>HELLO JADE STUDYS</title>
  </head>
  <body><p>Hi, <strong>markdown</strong> <a href="http://www.baidu.com">link</a></p>
    <div id="hello">
      NaN
      123456<span>123</span>
      <div id="span"></div>
      <h1>cyyz jade study</h1>
      <h2>NaN</h2>
      <!--p. 1 2-->
      <p>1,2,3</p>
      <p>1 0</p>
      <p>2 1</p>
      <p>3 2</p>
      <div id="span"></div>
    </div>
  </body>
</html>