ul,li{
    margin: 0;
    padding: 0;
}
body{
    background: #dedede !important;
}
.refund-ul {
    margin-top: 12px;
}
.refund-ul li{
    margin-bottom: 12px;
}
.refund-mb{
    margin-bottom: 12px;
}